body
{
	background-color: #E5E5E5;
	font-family: 'Open Sans', sans-serif;
}

p, a, h1, h2, h3, h4, h5, h6
{
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
}

#container
{
	width: 100vw;
	height: 100vh;
}

#loadImgBg
{
	position: fixed;
	left: 50%;
	margin-left: -100px;
	top: 200px;
	width: 200px;
	height: 200px;

	border-radius: 15%;
}

#loadImg
{
	border-radius: inherit;
}

#textContainer
{
	position: absolute;
	text-align: center;
	width: 500px;
	margin-left: -250px;
	top: 410px;
	left: 50%;
}

.spinner
{
	-webkit-animation: sk-rotateplane 4s infinite linear;
}

@-webkit-keyframes sk-rotateplane {
	0% 
	{
		-webkit-transform: perspective(600px) rotateY(0deg); 
	}
	50%
	{
		-webkit-transform: perspective(600px) rotateY(360deg);
	}
	100%
	{
		-webkit-transform: perspective(600px) rotateY(720deg);
	}
}
